body {
    font-family: var(--font-primary);
    background-image: url("../../images/static/webpack-logo.png");
    background-size: contain;
    user-select: none;
    backdrop-filter: blur(10px);
}
