@font-face {
    font-family: "Arial Regular";
    src:
        url("../fonts/Arial/arialregular-webfont.woff2") format("woff2"),
        url("../fonts/Arial/arialregular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
